<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.avamobile.ava">

    <!-- Adding permissions to access device features -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <!-- Permission to use AlarmManager -->
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <permission android:name="com.avamobile.ava.permission.MAPS_RECEIVE"
        android:protectionLevel="signature"/>
    <uses-permission android:name="com.weaverprojects.gpstest.permission.MAPS_RECEIVE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!--uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/-->


    <application
        android:allowBackup="true"
        android:icon="@drawable/ava_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"

        android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" >
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBZQ51n6Avg81hyk_TaJuxana_ES1u49DU" />

        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ResultsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AllReminderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PanicActivity"
            android:screenOrientation="portrait" />

        <!-- Widgets -->
        <receiver android:name="PanicAppWidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_provider_info" />
        </receiver>
    </application>
</manifest>